.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  gap: 0.5rem;
}

.btn {
  padding: 1.2rem 1.5rem;
}

.active,
.btn:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}
