.heading-bar {
  display: flex;
  font-size: 1.4rem;
  background-color: var(--tertiary-color);
}

.heading-bar-left {
  display: flex;
  padding: 1.5rem 0;
  gap: 4rem;
  align-items: center;
  margin-right: auto;
}

.heading-bar-left-item {
  display: flex;
  gap: 1.4rem;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
}

.heading-bar-left-item a {
  color: var(--white-color);
}

.heading-bar-right {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.heading-bar-right-item {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  position: relative;
  cursor: pointer;
}

.cart-quantity {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1rem;
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--danger-color);
  right: -2.2rem;
  top: 0.5rem;
}
