.nav-bar {
  display: flex;
  align-items: center;
  gap: 8rem;
  padding: 2rem 20rem;
}

.nav {
  margin-right: auto;
}

.img {
  cursor: pointer;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

.list-item {
  font-size: 1.8rem;
}

.list-item a {
  color: var(--black-color);
}

.list-item a:hover,
.list-item a.active {
  color: var(--primary-color);
}

.nav-search {
  width: 35%;
}

.btn-search {
  background-color: var(--primary-color);
}

.icon-search {
  color: var(--white-color);
}
