.select {
  position: relative;
  font-size: 1.8rem;
}

.selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.4rem 2rem;
  border: 1px solid var(--grey2-color);
  border-radius: 0.8rem;
}

.select-dropdown {
  width: 100%;
  position: absolute;
  top: 5.2rem;
  left: 0;
  z-index: 1;
  list-style: none;
  border: 1px solid var(--grey2-color);
  border-radius: 0.8rem;
  padding: 2rem 1rem;
  background-color: var(--white-color);
}

.hidden {
  display: none;
}

.select-item {
  padding: 1.4rem 1rem;
  border-radius: 1rem;
}

.select-item:hover {
  background-color: var(--grey1-color);
}
