.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15rem 4rem 0;
  background-color: var(--grey4-color);
}

.container {
  display: flex;
  justify-content: space-between;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-self: flex-start;
  justify-content: center;
}

.icon-circle {
  margin-left: 10rem;
  color: var(--primary-color);
}

.content {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-shrink: 0;
  gap: 2rem;
  font-size: 1.6rem;
  margin-right: 2rem;
}

.title {
  color: var(--primary-color);
}

.heading {
  font-size: 3.5rem;
}

.text {
  color: var(--grey3-color);
}

.btn {
  width: 35%;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.icon-diamond {
  color: var(--primary-color);
}

.hero-right {
  width: 56.4rem;
  height: 55.3rem;
  position: relative;
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.headphones {
  width: 56.4rem;
  height: 55.3rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.discount {
  width: 13.6rem;
  height: 13.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: cover;
  font-size: 3rem;
  text-align: center;
  color: var(--white-color);
  position: absolute;
  top: 6rem;
  right: 2rem;
}
