.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.6rem;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
}

.small {
  padding: 0.4rem 1.6rem;
  font-size: 1.2rem;
}

.medium {
  padding: 1.8rem 2.8rem;
  font-size: 1.6rem;
}

.circle {
  padding: 1rem;
  border-radius: 50%;
}
