.latest {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 10rem 20rem;
}

.heading {
  font-size: 4.4rem;
}

.nav {
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.list-item a {
  font-size: 1.8rem;
  color: var(--black-color);
}

.list-item a:hover,
.list-item a:active {
  color: var(--primary-color);
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2.5rem;
}
