.card {
  width: 41.6rem;
}

.img-container {
  display: flex;
  align-items: flex-end;
  height: 27.2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-repeat: no-repeat;
  position: relative;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.icon-btn {
  background-color: transparent;
}

.icon-btn:hover {
  background-color: var(--grey2-color);
}

.icon-svg {
  color: var(--tertiary-color);
}

.description {
  display: flex;
  gap: 1.5rem;
  font-size: 1.8rem;
  padding: 0 1rem;
}

.title {
  margin-right: auto;
}

.price {
  color: var(--primary-color);
  font-size: 1.6rem;
}
