.section-discount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 10rem 20rem;
}

.heading {
  font-size: 4.4rem;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.list-item a {
  font-size: 1.8rem;
  color: var(--black-color);
}

.list-item a:hover,
.list-item a:active {
  color: var(--primary-color);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.discount {
  font-size: 3.6rem;
}

.title {
  font-size: 2.2rem;
  color: var(--primary-color);
}

.text {
  font-size: 1.8rem;
  color: var(--grey3-color);
}

.checkmark-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.checkmark-list-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.checkmark {
  color: var(--black-color);
}

.checkmark-list-item-text {
  font-size: 1.6rem;
  color: var(--grey3-color);
}

.btn {
  width: 35%;
  background-color: var(--primary-color);
  font-size: 1.6rem;
  color: var(--white-color);
}
