.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  margin-bottom: 2rem;
}

.title::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: var(--black-color);
  position: absolute;
  bottom: -1rem;
  left: 0;
}

.rating {
  display: flex;
  align-items: center;
}
