.products-page {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 5rem 20rem;
}

.heading {
  text-align: center;
  font-size: 5.2rem;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-bottom: 2rem;
}

.list-item a {
  font-size: 1.6rem;
  color: var(--grey3-color);
}

.list-item a:hover,
.list-item a.active {
  color: var(--primary-color);
}

.sort {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  align-self: flex-end;
}

.sort-column {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
}

.sort-title {
  flex-shrink: 0;
  font-size: 1.6rem;
  color: var(--grey3-color);
}

.sort-select {
  border-color: var(--grey2-color);
}

.sort-icon {
  color: var(--primary-color);
}

.filter-and-products {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.filter {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.products-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: flex-start;
  gap: 2.5rem;
}
