.card {
  width: 30.4rem;
  border-radius: 0.8rem;
  box-shadow: 0.5rem 2rem 1.8rem var(--grey2-color);
  transition: all 0.3s;
}

.card:hover {
  transform: translateY(-2rem);
  box-shadow: 0.5rem 3rem 4.8rem var(--grey2-color);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.icon-btn {
  background-color: transparent;
}

.icon-btn:hover {
  background-color: var(--grey2-color);
}

.icon-svg {
  color: var(--tertiary-color);
}

.detail-btn {
  color: var(--white-color);
  background-color: var(--success-color);
  align-self: center;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30.4rem;
  height: 23.2rem;
  padding: 2rem;
  background-repeat: no-repeat;
  position: relative;
}

.img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.8rem;
  padding: 2rem 0;
}

.title {
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.code {
  color: var(--grey3-color);
}

.price {
  font-weight: 700;
}
