.section-ternding {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8rem;
  padding: 10rem 20rem;
}

.heading {
  font-size: 4.4rem;
}

.products {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
