.card {
  width: 27.2rem;
  height: 37.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-bottom: 3.5rem;
  font-size: 2.2rem;
  font-weight: 700;
  transition: all 0.3s;
}

.card:hover {
  transform: translateY(-2rem);
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 27.2rem;
  height: 27.2rem;
  padding-bottom: 5rem;
  border-radius: 50%;
  position: relative;
}

.img {
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.img-cotainer:hover {
  box-shadow: 0.5rem 2rem 3.8rem var(--grey2-color);
}

.btn {
  background-color: var(--success-color);
  color: var(--white-color);
}

.title {
  text-align: center;
}
