.card {
  box-shadow: 0.5rem 1rem 1.8rem var(--grey2-color);
  font-size: 1.8rem;
}

.card:hover {
  box-shadow: 0.3rem 2.5rem 3.8rem var(--grey2-color);
}

.card-horizontal {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

.card-vertical {
  width: 30.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 0.6rem;
}

.img-container {
  flex-shrink: 0;
  width: 28.8rem;
  height: 20rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

.img {
  border-radius: 0.8rem;
}

.description-horizontal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 1.5rem;
}

.description-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.title-and-stars-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-and-stars-vertical {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  font-weight: 700;
}

.prices {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.prices-vertical {
  margin-bottom: 2rem;
}

.price {
  text-decoration: line-through;
  font-size: 1.6rem;
  color: var(--grey3-color);
}

.text {
  color: var(--grey3-color);
}

.text-horizontal {
  margin-bottom: 2.5rem;
}

.text-vertical {
  margin-bottom: 0.5rem;
}

.icons {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 0 0.5rem;
}

.icon-btn {
  background-color: transparent;
}

.icon-btn:hover {
  background-color: var(--grey2-color);
}

.icon {
  color: var(--tertiary-color);
}
