.card {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 30.4rem;
  font-size: 1.8rem;
  padding: 2rem 2rem 3rem 2rem;
  border-radius: 0.6rem;
  box-shadow: 0.3rem 1rem 1.8rem var(--grey2-color);
  transition: all 0.3s;
}

.card:hover {
  transform: translateY(-2rem);
  box-shadow: 0.5rem 4rem 4.8rem var(--grey2-color);
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.title {
  text-align: center;
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 2rem;
}

.prices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.price {
  text-decoration: line-through;
  text-align: center;
  color: var(--grey3-color);
  font-size: 1.6rem;
}
