.checkbox-wrapper {
  display: inline-flex;
  align-items: center;
}

.checkbox-input {
  appearance: none;
}

.checkbox {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 0.4rem;
  border-radius: 0.6rem;
  background-color: var(--grey3-color);
  margin-right: 0.6rem;
}

.icon {
  color: var(--white-color);
}

.label {
  color: var(--grey3-color);
  font-size: 2rem;
}
