.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 0;
}

.container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.products {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.product {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.img {
  border-radius: 0.6rem;
  cursor: pointer;
}

.name-and-price {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: auto;
}

.number-input-and-price {
  width: 25%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.product-name {
  font-size: 2.2rem;
  font-weight: 700;
}

.product-price {
  font-size: 1.6rem;
}

.quantity {
  width: 20%;
}

.summary {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  gap: 2.5rem;
}

.checkout {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.6rem;
  background-color: var(--grey1-color);
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 2rem 1rem;
  border-bottom: 1px solid var(--grey2-color);
}

.price {
  font-size: 1.6rem;
  font-weight: 700;
}

.shipping {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--grey3-color);
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}

.btn {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn-clear {
  border: none;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 1.6;
  cursor: pointer;
}
