.section-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 7rem 20rem;
}

.heading {
  font-size: 4.4rem;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dot {
  color: var(--primary-color);
}
