.number-input {
  min-width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--grey2-color);
  border-radius: 0.8rem;
  padding: 1.4rem 2rem;
  font-size: 1.8rem;
}

.icon {
  cursor: pointer;
}
