.container {
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.title {
  font-size: 4rem;
}

.message {
  font-size: 2.5rem;
}
