.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 0.1rem 0.1rem 2rem;
  border: 1px solid var(--grey2-color);
  border-radius: 0.8rem;
}

.input-error {
  border: 1px solid var(--danger-color);
  padding: 2rem;
}

.input-error svg {
  color: var(--danger-color);
}

.input {
  width: 80%;
  border: none;
  font-size: 1.8rem;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  font-size: 1.4rem;
  color: var(--grey3-color);
}
