.card {
  width: 41.6rem;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  box-shadow: 0.5rem 1rem 1.8rem var(--grey2-color);
  transition: all 0.3s;
}

.card:hover {
  transform: translateY(-2rem);
  box-shadow: 0.3rem 2.5rem 3.8rem var(--grey2-color);
}

.card:hover .title {
  color: var(--primary-color);
}

.img-container {
  width: 41.6rem;
  height: 25.5rem;
  border-radius: 0.6rem;
  background-repeat: no-repeat;
  background-position: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.5rem;
  padding: 2rem;
}

.owner-and-date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6rem;
}

.owner-date-item {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: var(--grey3-color);
}

.text {
  color: var(--grey3-color);
}

.more {
  color: var(--primary-color);
  font-weight: 700;
}
