.section-latest-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 8rem 20rem;
}

.heading {
  font-size: 4.4rem;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
