.cart-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.title {
  font-size: 3.6rem;
  font-weight: 700;
}

.btn {
  background-color: var(--primary-color);
  color: var(--white-color);
}
