.section-unique {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 20rem;
  background-color: var(--grey4-color);
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.heading {
  font-size: 3.6rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-1 {
  color: var(--primary-color);
}

.icon-2 {
  color: var(--info-color);
}

.icon-3 {
  color: var(--success-color);
}

.text {
  font-size: 1.6rem;
  color: var(--grey3-color);
}

.btn-container {
  display: flex;
  align-items: center;

  gap: 2rem;
}

.btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.6rem;
}

.product-description {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}
