.featured-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 10rem 20rem;
}

.heading {
  font-size: 4.4rem;
}

.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.icon {
  color: var(--pink-light);
}

.icon-active {
  color: var(--primary-color);
}
