.section-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  padding: 11rem 0;
  background-repeat: no-repeat;
  background-position: center;
}

.heading {
  width: 50%;
  text-align: center;
  font-size: 4.4rem;
}

.btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.6rem;
}
