@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --white-color: #fff;
  --grey1-color: #f8f8fd;
  --grey2-color: #e5e0fc;
  --grey3-color: #8a8fb9;
  --grey4-color: #f2f0ff;
  --black-color: #101750;

  --primary-color: #fb2e86;
  --primary-dark-color: #f0056a;
  --primary-light-color: #fc5fa2;
  --primary-more-light-color: #feb9c4;
  --secondary-color: #f9ba00;
  --secondary-light-color: #fff3ce;
  --tertiary-color: #7e33e0;

  --danger-color: #fb2448;
  --danger-light-color: #feb9c4;
  --info-color: #603eff;
  --info-light-color: #ddd6ff;
  --success-color: #0cc562;
  --success-dark-color: #00994c;
  --success-light-color: #92f2bf;

  --pink-light: #febad7;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 62.5%;
  color: var(--black-color);
}

body {
  margin: 0 auto;
}

#root {
  max-width: 192rem;
  margin: 0 auto;
}

.container {
  padding: 0 20rem;
}

a,
a:link,
a:visited {
  text-decoration: none;
}
