.section-product-view {
  display: flex;
  justify-content: center;
  gap: 10rem;
  padding: 10rem 20rem;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  gap: 2rem;
}

.title {
  font-size: 3.6rem;
  font-weight: 700;
}

.icon-star-filled {
  color: var(--secondary-color);
}

.icon-star {
  color: var(--grey2-color);
}

.prices {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.discountPrice {
  font-size: 1.6rem;
}

.price {
  font-size: 1.4rem;
  text-decoration: line-through;
  color: var(--primary-color);
}

.text {
  font-size: 1.6rem;
  color: var(--grey3-color);
  margin-bottom: 4rem;
}

.add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.btn {
  color: var(--white-color);
  font-size: 1.6rem;
  background-color: var(--primary-color);
}

.loading {
  width: 100%;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
