.images {
  display: flex;
  gap: 2.5rem;
}

.images-left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.img {
  border-radius: 0.6rem;
}

.img-right {
  box-shadow: 0.1rem 2rem 7rem var(--grey2-color);
}
