.section-product-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background-color: var(--grey1-color);
}

.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.tabs {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.tab {
  font-size: 2.6rem;
  font-weight: 700;
  position: relative;
  margin-bottom: 3rem;
}

.tab-selected::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: var(--black-color);
  position: absolute;
  bottom: -0.8rem;
  left: 0;
}

.text-title {
  font-size: 2.2rem;
  font-weight: 700;
}

.text {
  font-size: 1.6rem;
  color: var(--grey3-color);
  font-weight: 300;
}

.details-title {
  font-size: 2.2rem;
  font-weight: 700;
}

.details-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.details-list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  color: var(--grey3-color);
  font-weight: 300;
}
