.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 10rem 20rem;
  background-color: var(--grey1-color);
}

.footer-item {
  width: 100%;
}

.sign-up {
  width: 135%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  gap: 2.5rem;
  margin-right: 5rem;
}

.input {
  background-color: var(--white-color);
}

.btn {
  width: 35%;
  padding: 1.2rem 1.6rem;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.address {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--grey3-color);
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 20rem;
  background-color: var(--grey2-color);
}

.copyright {
  font-size: 1.4rem;
  color: var(--grey3-color);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.icon {
  color: var(--black-color);
}
