.ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-items: center;
  list-style: none;
  font-size: 1.6rem;
}

.title a {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black-color);
}

.item a {
  color: var(--grey3-color);
}
